@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-ExtraLight.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Nata-Sans";
  src: url("../fonts/NataSans-ExtraLight.ttf") format("truetype");
  font-style: normal;
}