html, body {
    height: 100%;
    margin: 0;
}

#app {
    background-color: #f8f9fa;
    min-height: 100vh;
}

.main-container {
    height: 694px;
    margin: 0rem 10.5rem;
    background-color: #fff;
    padding-top: 1px;
}

.title {
    display: flex;
    gap: 1px;
    margin: 1rem;
    padding-left: 0.5rem;
}

.google {
    font-family: "Poppins";
    font-size: 20px;
}

.first-character {
    color: #4285f4;
    font-size: 22px;
}

.second-character {
    color: #ea5043;
}

.third-character {
    color: #fbbc13;
}

.fourth-character {
    color: #4285f4;
}

.fifth-character {
    color: #3da853;
}

.sixth-character {
    color: #ea5043;
}

.traductor {
    color: #6a6c71;
    font-family: "Nata-Sans";
    font-weight: bold;
    font-size: 20px;
    margin: 0.2rem;
}

.first-border {
    border-bottom: 1px solid #e8eaed;
    margin-bottom: 1.5rem;
}

.language-container {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.original-language, .translated-language {
    width: 200px;
    color: #3d4144;
    font-size: 15px;
    padding: 0.7rem;
    border-radius: 0.5rem;
    border-color: #dadce0;
}

.original-language:focus, .translated-language:focus {
    outline: none;
    border: 3px solid #4285f4;
}

.arrows {
    background-color: white;
    border: none;
    margin-top: 0.2rem;
}

.icon-tabler-mobiledata {
    color: #5f6368;
    padding: 0.3rem;
    transform: rotate(90deg);
    cursor: pointer;
}

.icon-tabler-mobiledata:hover {
    border-radius: 50%;
    padding: 0.3rem;
    background-color: #eef0f4;
}

.second-border {
    border-bottom: 1px solid #e8eaed;
    margin-top: 1.5rem;
}

.main-div {
    display: flex;
    position: relative;
    height: 250px;
    border-bottom: 1px solid #dadce0;
}

.first-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    font-family: "Nata-Sans";
    padding: 1.5rem;
    background-color: white;
    border-right: 1px solid #dadce0;
}

.textarea {
    flex: 1;
    width: 100%;
    font-family: "Nata-Sans";
    font-size: 18px;
    font-weight: bold;
    border: none;
    outline: none;
    resize: none;
}

.textarea::placeholder {
    font-family: "Nata-Sans";
    font-weight: bold;
    color: #5f6368;
    font-size: 18px;
}

.third-border {
  position: absolute;
  left: 0;
  right: 0;
  top: 190px;
  height: 1px;
  background-color: #dadce0;
}

.icon:hover {
    border-radius: 50%;
    padding: 0.5rem;
    background-color: #eef0f4;
}

.icon-tabler-microphone, .icon-tabler-copy, .icon-tabler-volume {
    color: #5f6368;
    cursor: pointer;
    padding: 0.5rem;
}

.first-div > div:last-child {
    align-self: flex-start;
    margin-top: auto;
    margin-bottom: -1.1rem;
}

.second-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    padding: 1rem;
    background-color: #f8f9fa;
    padding: 1.6rem;
    font-family: "Nata-Sans";
    font-size: 18px;
    font-weight: bold;
    color: #5f6368;
}

.third-div {
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
}

.third-div > div {
    margin-bottom: -1.3rem;
}